@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

:root {
  /* typography */
  --text-app-name: 1.75rem;      /* 28px */

  --text-h1: 2rem;               /* 32px */
  --text-h1-mobile: 1.625rem;    /* 26px */
  --text-h2: 1.5rem;             /* 24px */

  --text-lg: 1.125rem;           /* 18px */
  --text-base: 1rem;             /* 16px */
  --text-sm: 0.875rem;           /* 14px */
  --text-xs: 0.75rem;            /* 12px */
  --text-2xs: 0.625rem;          /* 10px */

  --button-base: 0.875rem;       /* 14px */
  --button-sm: 0.75rem;          /* 12px */
  --button-xs: 0.625rem;         /* 10px */

  --card-title-base: 1rem;       /* 16px */
  --card-title-sm: 0.75rem;      /* 12px */


  /* light mode */
  --background: hsla(38, 40.7%, 94.7%, 1);
  --foreground: hsla(60, 3.6%, 11%, 1);

  --card: hsla(38, 40.7%, 94.7%, 1);
  --card-foreground: hsla(60, 3.6%, 11%, 1);

  --popover: hsla(38, 40.7%, 94.7%, 1);
  --popover-foreground: hsla(60, 3.6%, 11%, 1);

  --primary: hsla(197, 97.6%, 16.7%, 1);
  --primary-foreground: hsla(60, 100%, 99.8%, 1);

  --secondary: hsla(169, 16.9%, 87.3%, 1);
  --secondary-foreground: hsla(60, 3.6%, 11%, 1);

  --muted: hsla(252, 2.3%, 57.1%, 0.15);
  --muted-foreground: hsla(0, 0%, 36.9%, 1);

  --accent: hsla(60, 100%, 99.8%, 1);
  --accent-foreground: hsla(60, 3.6%, 11%, 1);

  --destructive: hsla(0, 54.4%, 51%, 1);
  --destructive-foreground: white;

  --border: hsla(38, 16%, 82%, 1);
  --input: hsla(38, 22%, 90%, 1);
  --ring: hsla(197, 97.6%, 16.7%, 0.3);

  --chart-1: hsla(20, 72.3%, 80.2%, 1);
  --chart-2: hsla(196, 30.2%, 83.1%, 1);
  --chart-3: hsla(172, 19%, 70%, 1);
  --chart-4: hsla(331, 42.9%, 87.6%, 1);
  --chart-5: hsla(74, 61.5%, 78.6%, 1);

  --sidebar: hsla(38, 40.7%, 96%, 1);
  --sidebar-foreground: hsla(60, 3.6%, 11%, 1);

  --sidebar-primary: hsla(197, 97.6%, 16.7%, 1);
  --sidebar-primary-foreground: white;

  --sidebar-accent: hsla(169, 16.9%, 87.3%, 1);
  --sidebar-accent-foreground: hsla(60, 3.6%, 11%, 1);

  --sidebar-border: hsla(38, 16%, 82%, 1);
  --sidebar-ring: hsla(197, 97.6%, 16.7%, 0.3);


  /* semantic colors */
  --tangerine: hsla(20, 72.3%, 80.2%, 1);
  --baby-blue: hsla(196, 30.2%, 83.1%, 1);
  --blue: hsla(197, 97.6%, 16.7%, 1);

  --green: hsla(172, 19%, 70%, 1);
  --green-soft: hsla(122, 24%, 80.4%, 1);
  --celeste: hsla(165, 18.8%, 87.5%, 1);

  --lavender: hsla(230, 23.1%, 89.8%, 1);
  --pink: hsla(331, 42.9%, 87.6%, 1);
  --lemon: hsla(74, 61.5%, 78.6%, 1);

  --red: hsla(0, 54.4%, 51%, 1);


  /* font */
  --font-sans: "Urbanist", sans-serif;
  --font-serif: "Lora", serif;
  --font-mono: "Fira Code", monospace;


  /* radius */
  --radius: 0.75rem;            /* 12px */


  /* shadow */
  --shadow-2xs: 0 1px 2px rgb(0 0 0 / 0.02);
  --shadow-xs: 0 1px 3px rgb(0 0 0 / 0.04);
  --shadow-sm: 0 2px 6px rgb(0 0 0 / 0.06);
  --shadow: 0 4px 10px rgb(0 0 0 / 0.08);
  --shadow-md: 0 6px 14px rgb(0 0 0 / 0.10);
  --shadow-lg: 0 10px 24px rgb(0 0 0 / 0.12);
  --shadow-xl: 0 16px 40px rgb(0 0 0 / 0.14);
  --shadow-2xl: 0 24px 60px rgb(0 0 0 / 0.18);


  /* spacing */
  --spacing: 0.25rem;           /* 4px */
}

.dark {
  --background: hsla(36, 6.3%, 15.5%, 1);
  --foreground: hsla(40, 18%, 88%, 1);

  --card: hsla(30, 10%, 16%, 1);
  --card-foreground: hsla(40, 18%, 88%, 1);

  --popover: hsla(30, 10%, 16%, 1);
  --popover-foreground: hsla(40, 18%, 88%, 1);

  --primary: hsla(197, 42%, 68%, 1);
  --primary-foreground: hsla(36, 6.3%, 15.5%, 1);

  --secondary: hsla(35, 18%, 28%, 1);
  --secondary-foreground: hsla(40, 18%, 88%, 1);

  --muted: hsla(28, 8%, 20%, 1);
  --muted-foreground: hsla(35, 8%, 62%, 1);

  --accent: hsla(30, 12%, 24%, 1);
  --accent-foreground: hsla(40, 18%, 88%, 1);

  --destructive: hsla(2, 48%, 58%, 1);
  --destructive-foreground: white;

  --border: hsla(30, 8%, 24%, 1);
  --input: hsla(30, 8%, 22%, 1);
  --ring: hsla(197, 42%, 68%, 0.3);

  --chart-1: hsla(22, 38%, 58%, 1);
  --chart-2: hsla(198, 18%, 52%, 1);
  --chart-3: hsla(164, 14%, 48%, 1);
  --chart-4: hsla(336, 18%, 68%, 1);
  --chart-5: hsla(72, 22%, 56%, 1);

  --sidebar: hsla(32, 10%, 14%, 1);
  --sidebar-foreground: hsla(40, 18%, 88%, 1);

  --sidebar-primary: hsla(197, 42%, 68%, 1);
  --sidebar-primary-foreground: hsla(36, 6.3%, 15.5%, 1);

  --sidebar-accent: hsla(30, 12%, 24%, 1);
  --sidebar-accent-foreground: hsla(40, 18%, 88%, 1);

  --sidebar-border: hsla(30, 8%, 24%, 1);
  --sidebar-ring: hsla(197, 42%, 68%, 0.3);

  /* semantic colors */

  --tangerine: hsla(22, 38%, 58%, 1);
  --baby-blue: hsla(198, 18%, 52%, 1);
  --blue: hsla(198, 32%, 36%, 1);

  --green: hsla(164, 14%, 48%, 1);
  --green-soft: hsla(142, 16%, 58%, 1);
  --celeste: hsla(184, 12%, 64%, 1);

  --lavender: hsla(232, 10%, 66%, 1);
  --pink: hsla(336, 18%, 68%, 1);
  --lemon: hsla(72, 22%, 56%, 1);

  --red: hsla(2, 48%, 58%, 1);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);

  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);

  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);

  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);

  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-serif: var(--font-serif);
  --font-mono: var(--font-mono);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground font-sans;
  }
}